/*
   Author: Ernesto B. Delacruz, Jr.
      Date:   21Nov2015

   Filename:         main.css
*/

body {
	background-image: url("images/patriotic wallpaper.jpg");
	background-repeat: x-repeat;
	background-position: left top;
	background-attachment: fixed;
}

.menu ul {
	position: absolute;
	top: 5px;
	left: 1px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	z-index: 5;
}

.menu li {
    float: left;
	background:rgba(65,105,255,0.3);
}

.menu a:link, a:visited {
	border-style: dotted;
	border-color: red;
    display: block;
    width: 120px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

.menu a:hover, a:active {
    background-color: blue;
}

.menu img{
	position: absolute;
	top: 40px;
	max-width: 537px;
	left: -5px;
	z-index: -2;
}

.Welcome-text{
	margin-left: 600px;
	margin-right: 5%;	
}

.Welcome-text h1{
	color:white;
	font-size: 5em;
}

.Welcome-text p{
	color: white;
	font-weight: bold;
	font-size: 1.5em;
	background:rgba(0,0,0,0.5);
	border-radius: 25px;	
	padding: 1%;
}

.Welcome-text img{
	padding-left: 35%;
}

.Light-wrapper img{
	max-width: 80%;
	max-height: 80%;
	position: fixed;
	bottom: -2px;
	margin-left: 8%;
	z-index: -1;
}

.Light-bio{
	color: white;
	font-weight: bold;
	font-size: 1.5em;
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("images/eagle.jpg");
	background-size: 100% 100%;
	border-radius: 25px;
	margin-top: 100px;
	margin-left: 20%;
	margin-right: 20%;
	padding: 1%;	
}

.header {
	color: white;
	font-size: 2.5em;
}

table.calendar {
	position: absolute;
	background: white;
	border-collapse: separate;
	border-spacing: 5px;
	font-size: 15px;
	
	margin-top: 1%;
	margin-bottom: auto;
	margin-left: 750px;
	margin-right: auto;
	
	padding: 35px;
	width: 650px;
	
	background-image: url(images/topleft.jpg), url(images/topright.jpg), url(images/bottomleft.jpg), url(images/bottomright.jpg), url(images/top.jpg), url(images/left.jpg), url(images/right.jpg), url(images/bottom.jpg);
	background-position: left top, right top, left bottom, right bottom, left top, left top, right top, left bottom;
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-x, repeat-y, repeat-y, repeat-x;

}

table caption {
	color: white;
	padding-bottom: 10px;
	font-size: 3em;
	font-weight: bold;
	letter-spacing: 3px;
	width: 950px;
}

table.calendar col {
	width: 14%;
}

table.calendar col.weekends {
	background-color: rgb(192,192,192);
}

table.calendar thead th {
	background-color: blue;
	color: white;
	letter-spacing: 5px;
}	
	
table.calendar thead tr {
	height: 5%;
}

table.calendar tbody tr {
	height: 19%;
}	

td {
	border: 1px solid black;
	vertical-align: top;
}

td h3 {
	font-size: 8px;
}

.map img{	
	position: absolute;
	margin-top: 340px;
	z-index: -2;
}

section h1{
	color: white;
	font-weight: bold;
	font-size: 5em;
	margin-left: 600px;
}
fieldset {
	color: white;
	background:rgba(0,0,0,0.8);
	border: 0;
	margin-top: 1px;
	margin-left: 600px;
	margin-right: 5%;
	border-radius: 25px;
	
}

fieldset legend {
	background-color: blue;
	color: white;
	margin-top: 10px;
	margin-bottom: 10px;
	text-indent: 20px;
	width: 100%;
	border-radius: 10px;
}

label {
	display: block;
	float: left;
	clear: left;
	font-size: 0.8em;
	text-align: right;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 5px;
	margin-right: 5px;
	width: 25%;
}

input {
	display: block;
	float: left;
	font-size: 0.9em;
	width: 60%;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-top: 2px;
	margin-left: 0px;
	margin-right: 0px;
}

select {
	float: left;
	font-size: 0.9em;
	margin: 2px;
}

textarea {
	display: block;
	float: left;
	font-size: 0.9em;
	height: 75px;
	width: 60%;
}

fieldset.optionGroup {
	margin-left: 25%;
}

fieldset.optionGroup label {
	display: inline;
	float: none;
	width: 100px;
}

fieldset.optionGroup input {
	display: inline;
	float: none;
	margin: 0px;
	width: 20px;
}

input#csc {
	width: 50px;
}

button[type="submit"] {
	background-color: blue;
	color: white;
	float: none;
	width: 150px;
	height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 550px;
	margin-right: auto;
	border-radius: 15px;
}

.Light-form img{
	position: fixed;
	top: 200px;
	margin-left: -10px;
	z-index: -3;
}

input:focus, select:focus, textarea:focus {
	background-color: white;
}

input:focus:invalid {
	background: rgb(200,50,50) url(images/stop.png) bottom right no-repeat;
}

input:focus:valid {
	background: rgb(215,255,215) url(images/go.png) bottom right no-repeat;
}

.stars figure{
	position:absolute;
}

figure#point1{	
	top: 385px;
	left: 67px;
}

figure#point2{
	top: 367px;
	left: 140px;
}

figure#point3{
	top: 535px;
	left: 320px;
}

figure#point4{
	top:580px;
	left: 593px;
}

figure#point5{
	top: 422px;
	left: 17px;
}

figure#point6{
	top: 738px;
	left: 437px;
}